<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <form th:action="@{/saveUser}" th:object="${user}" method="post">
        <input type="text" th:field="*{firstName}"
               placeholder="imie">
        <input type="text" th:field="*{lastName}"
               placeholder="nazwisko">
        <input type="text" th:field="*{age}"
               placeholder="wiek">
        <input type="submit" value="Dodaj użytkownika"/>
    </form>
</body>
</html>