<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<div id="wrapper">
    <table class="styled-table">
        <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>wiek</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.firstName}">imię</td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.age}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>